.login--container{
    width: 85vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    gap: 3rem;
}
form h5{
    text-align: right;
}
input{
    background: gray;
    display: flex;
    flex-direction: column;
    height: 3rem;
    padding-left: 1rem  ;
    border-radius: 3rem;
    border: none;
    margin-top: 3rem;
}
input::placeholder{
    color: white;
}

